body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{ 
    width: 400px;
    height: 200px;
}

@media only screen and (max-width: 420px) {
    .container {
        background: black;
    }
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
    .container {
        background: rgb(228, 152, 10);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        background: rgb(219, 18, 18);
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1080px) {
    .container {
        background: rgb(199, 20, 169);
    }
}

@media only screen and (min-width: 1080px) and (max-width: 1366px) {
    .container {
        background: rgb(212, 100, 7);
    }
}


@media only screen and (min-width: 1366px) and (max-width: 1920px) {
    .container {
        background: blue;
    }
}
